<h1 class="text-center">Login</h1>

<%= form_for(:session, :html => {class: "form-horizontal", role: "form"}, url: login_path) do |f| %>
<div class="form-group">
  <div class="control-label col-sm-2">
      <%= f.label :email %>
  </div>
  <div class="col-sm-8">
      <%= f.email_field :email, class: "form-control", placeholder: "Enter Email", autofocus: true %>
  </div>
</div>

<div class="form-group">
    <div class="control-label col-sm-2">
        <%= f.label :password %>
  </div>
    <div class="col-sm-8">
        <%= f.password_field :password,class: "form-control", autocomplte: "off" %>
    </div>
</div>

<div class="form-group">
  <div class="col-sm-10 col-sm-offset-2">
    <%= f.submit "Log in", class: 'btn btn-primary btn-lg'%>
  </div>
</div>


<% end %>
