<% if obj %>
<% obj.each do |article| %>
<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <div class="well well-lg <% if current_user == article.user %>well-article-user-current<% end %>">
            <div class="article-title">
                <h2><%= link_to article.title, article_path(article) %>
                </h2>
            </div>
            <div class="article-body">
                <p><%= truncate(article.description, length: 100) %></p>
                <div class="article-meta-details">
                <small>
                <%= "By: " + article.user.username if article.user %>
                <% if current_user == article.user && current_page?(articles_path) %>
                  <span class="text-info"><strong>(This is you.</strong>)</span>
                <% end %>
                  <%= time_ago_in_words(article.created_at) %> ago<%= "\, last updated: " + time_ago_in_words(article.updated_at) + " ago" if article.updated_at != article.created_at %>
                </small>
                <% if article.categories.any? %>
                        <p>Categories: <%= render article.categories %></p>
                <% end %>
                <div class="article-actions">
                    <% if logged_in? && ( current_user == article.user  || current_user.admin? ) %>
                      <%= link_to "Edit this article",
                      edit_article_path(article),
                      class: "btn btn-xs btn-primary" %>
                      <%= link_to "Delete this article", article_path(article), method: :delete, data: { confirm: "Are you sure you want to delete the article?"}, class: "btn btn-xs btn-danger" %>
                    <% end %>
                    <%= link_to "Article Permalink",
                    article_path(article),
                    class: "btn btn-xs btn-success" %>
                </div>
                </div>
            </div>
        </div>
    </div>

</div>
<% end %>
<% else %>
<div class="col-xs-6 col-xs-offset-3 text-center">
    You haven't created any articles.
    <%= link_to "Add one", new_article_path %>
</div>
<% end %>
