
<%=  render 'shared/errors', obj: @user %>

<div class="row">
   <div class="col-xs-12">
       <%= form_for(@user, :html => {class: "form-horizontal", role: "form"}) do |f| %>
       <div class="form-group">
         <div class="control-label col-sm-2">
             <%= f.label :username %>
         </div>
         <div class="col-sm-8">
             <%= f.text_field :username, class: "form-control", placeholder: "Enter Username", autofocus: true %>
         </div>
       </div>

       <div class="form-group">
           <div class="control-label col-sm-2">
               <%= f.label :email %>
         </div>
           <div class="col-sm-8">
               <%= f.email_field :email,class: "form-control", placeholder: "Enter Email" %>
           </div>
       </div>

       <div class="form-group">
           <div class="control-label col-sm-2">
               <%= f.label :password %>
           </div>
           <div class="col-sm-8">
               <%= f.password_field :password, class: "form-control", placeholder: "Enter Password" %>
           </div>
       </div>

       <div class="form-group">
         <div class="col-sm-10 col-sm-offset-2">
           <%= f.submit(@user.new_record? ? "Sign Up" : "Update User", class: 'btn btn-primary btn-lg ')%>
         </div>
       </div>


       <% end %>
   </div>
</div>
<div class="col-xs-6 col-xs-offset-3 text-center">
[ <%= link_to "Cancel request, and return to Articles Listing", articles_path %> ]
</div>
