<div class="text-center">Welcome to <%= @user.username %>'s page</div>
<div class="row">
  <div class="col-md-4 col-md-offset-4 text-center">
    <%= gravatar_for @user, size: 150 %>
  </div>
</div>
<h4 class="text-center"><%= @user.username %>'s articles:</h4>
<div class="text-center">
  <%= will_paginate @user_articles %>
</div>
<%= render 'articles/article', obj: @user_articles %>
<div class="text-center">
  <%= will_paginate @user_articles %>
</div>
