<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="container">
      <row>
        <div class="col-xs-12 text-center">
          <h1 class="h2">This is the about page.</h1>
        </div>
      </row>
      <div class="row">
        <div class="col-xs-12 col-sm-4 text-center">
          Here's a link to head to the <%= link_to 'Home Page', root_path %>.
        </div>
        <div class="col-xs-12 col-sm-4 text-center">
          Here's a link to head to the <%= link_to 'Home Page', root_path %>.
        </div>
        <div class="col-xs-12 col-sm-4 text-center">
          Here's a link to head to the <%= link_to 'Home Page', root_path %>.
        </div>
        <div class="col-xs-12 text-center">
          <p>yes, we know it's there 3 times.</p>
        </div>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
