$navbar-default-bg: #333;

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

// .navbar.navbar-default { background: #333; }

#logo {
  float: left;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.navbar-default .navbar-nav  li  a:hover, .navbar-default .navbar-nav  li  a:focus,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
  color: white;
}

.jumbotron {
  background-image: asset-url('jumbotron.jpg');
  background-size: cover;
  background-position: 10% 20%;
  height: 550px;
}

.jumbotron h1 {
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.article-meta-details {
  border-top: 1px solid #dddddd;
  margin-top: 15px;
}

.article-actions {
  border-top: 1px solid #dddddd;
  padding-top: 5px;
}

.well.well-article-user-current {
  background-color: #fdd;
  border: 1px solid red;
}

.description {
  margin-top: 0;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
  border-top: 1px solide #dddddd;
  padding-top: 15px;
  padding-bottom: 15px;
}

.listing {
  list-style: none;
  padding-left: 0;
}


.badge {
  background-color: #CEF6F5;
  text-transform: uppercase;
  letter-spacing: 0;
  font-weight: bold;
}

.input_checkbox input {
  width: auto !important;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #dddddd;
  color: #777;


  a:hover {
    color: #222;
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 15px;
    }
  }
}
