<%= render 'shared/errors', obj: @category %>

<%= form_for(@category, :html => {class: "form-horizontal", role: "form"}) do |f| %>
<div class="form-group">
  <div class="control-label col-sm-2">
    <%= f.label :name %>
  </div>
  <div class="col-sm-8">
    <%= f.text_field :name, class: "form-control", placeholder: "Enter Category Name", autofocus: true %>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-10 col-sm-offset-2">
    <%= f.submit class: 'btn btn-primary btn-lg' %>
  </div>
</div>
<div class="col-xs-6 col-xs-offset-3 text-center">
[ <%= link_to "Cancel request, and return to Articles Listing", articles_path %> ]
</div>

<% end %>
