<h1 class="text-center">Listing All Categories</h1>

<% if @categories.first %>
<div class="text-center"><%= will_paginate %></div>
  <% @categories.order('name ASC').each do |category| %>
    <ul class="listing">
      <div class="row">
        <div class="well col-xs-4 col-xs-offset-4">
          <li class="article-title text-center">
            <%= link_to "#{category.name}", category_path(category) %>
            <li class="text-center"><small><%= pluralize(category.articles.count, "article") %></small></li>
          </li>
        </div>
      </div>
    </ul>
  <% end %>
<% end %>
