<h1 class="text-center">
  <%= "Category: " + @category.name %>
</h1>
<div class="text-center">
  <% if logged_in? && current_user.admin? %>
  <p class="badge"><%= link_to "Edit Category Name", edit_category_path(@category) %></p>
  <% end %>
  <%= will_paginate @category_articles %>
</div>
<%= render 'articles/article', obj: @category_articles %>
<div class="text-center">
  <%= will_paginate @category_articles %>
</div>
