<div class="container">
  <footer class="footer text-center">
    <small>
    &copy; Jayson Whelpley 2017
    </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
    </ul>
  </nav>
    </footer>
</div>
