<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Alpha Blog", root_path, class: "navbar-brand", id: "logo" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to 'Articles', articles_path %>
        </li>
        <% if logged_in? %>
        <li>
          <%= link_to 'New Post', new_article_path   %>
        </li>
        <% end %>
        <li>
          <%= link_to 'Users', users_path %>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to 'All Categories', categories_path %></li>
            <li role="separator" class="divider"></li>
            <% Category.all.each do |category| %>
              <li><%= link_to "#{category.name}", category_path(category) %></li>
            <% end %>
            <% if logged_in? && current_user.admin?%>
            <li role="separator" class="divider"></li>
            <li><%= link_to 'Add Categories', new_category_path %></li>
            <% end %>
          </ul>
        </li>
        <% if logged_in? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profile
            <% if current_user.admin? %>
            <span class="text-danger">
              <strong>Admin</strong>
            </span><% end %>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to 'View Profile', user_path(current_user) %></li>
            <li><%= link_to 'Edit Profile', edit_user_path(current_user) %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to 'Log out', logout_path, method: :delete %></li>
          </ul>
        </li>
      <% else %>
        <li><%= link_to 'Log in', login_path %></li>
        <li><%= link_to 'Sign Up', signup_path %></li>
        <% end %>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
